.how-it-works-digit {
  font-size: 100px;
  font-weight: 800;
}

.heading-primary {
  font-size: 32px;
  font-weight: 600;
}

.heading-secondary {
  font-size: 24px;
  font-weight: 300;
}

.flashes {
  list-style: none;
}

#crawl-response {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.5s ease-in, padding 0.6s ease;
  border-radius: 6px;
}

.crawl-response__active {
  transform: scaleY(1) !important;
  opacity: 1 !important;
  padding: 1.5rem;
}

.crawl-response__error {
  background-color: rgba(231, 76, 60, 0.75) !important;
}

.crawl-response__success {
  background-color: rgba(46, 204, 113, 0.75) !important;
}
