{% extends "base.jinja.html" %}

{% block title %}
<title>scraps - the web scraper for students, web desingers and plaigiarizers</title>
<meta name="descripton"
  content="scraps enables you to scrape text from all over the internet. how you use it, is up to you">
{% endblock%}

{% block nav_menu %}
<ul class="navbar-nav text-light text-light ml-auto">
  <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('register')}}">register</a></li>
  <li class="nav-item"><a class="nav-link text-light" href="{{ url_for('login') }}">login</a></li>
</ul>
{% endblock %}

{% block content %}
<p class="text-center mb-4 heading-primary">welcome to scraps</p>
<h1 class="text-center mb-4 heading-secondary">scraps is a web scraper for students, web designers, digital marketers
  and
  plagiarizers</h1>
<article class="col-12 mb-1 d-flex align-items-center">
  <p class="text-bold how-it-works-digit p-4">1</p>
  <div class="how-it-works-text">
    <p>scraps lets you extract the text from webpages from all over the internet</p>
    <p>Scraping the web is a privallege, don't abuse it...</p>
  </div>

</article>
<article class="col-12 mb-1 d-flex align-items-center">
  <p class="text-bold how-it-works-digit p-4">2</p>
  <div class="how-it-works-text">
    <p>You can crawl websites as single pages, internal navigation links, or internal page links</p>
  </div>

</article>
<article class="col-12 mb-1 d-flex align-items-center">
  <p class="text-bold how-it-works-digit p-4">3</p>
  <div class="how-it-works-text">
    <p>Once the pages have been crawled, you can download the content as text files for your own use</p>
  </div>
</article>
{% endblock %}